.WeatherForecast {
    .date-header {
        font-weight: bold;
        font-size: 120%;
    }
    .condition-list {
        display: grid;
        grid-template-columns: max-content max-content 11em max-content auto;
        span {
            margin-right: 6px;
        }
    }
}